.commodity-item div{
    width: 25%;
    float: left;
}

.commodity-item .clr {
    float: none;
}

.commodity-item {
    height: 72px;
    line-height: 72px;
}

.commodity-item .commodity-price {
    color: #ff2832;
}