.user-info-item div {
    display: inline-block;
    width: 40%;
}

.admin-user-name {
    text-align: left;
}

.admin-btn-delete-user {
    text-align: right;
    cursor: pointer;
}

.btn-admin-delete-commodity {
    cursor: pointer;
}

.bussiness-title {
    margin-left: 12px;
}

.bussiness-title li {
    float: left;
    width: 16%;
}