<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/buy-bussiness.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/add-activity.css" />

    <style>
        .layui-form-label {
            padding-left: 0px;
            padding-right: 0px;
        }
    </style>
</head>
<body>
<div class="header"></div>

<div class="mbody">
    <form class="layui-form" method="post" action="/save-activity" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">活动名称</label>
            <div class="layui-input-block">
                <input type="text" name="activityname" required  lay-verify="required" placeholder="请输入活动名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block">
                <input type="file" name="image" lay-verify="required" placeholder="请输入商品名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动时间</label>
            <div class="layui-input-block">
                <!--<input type="text" name="activityname" required  lay-verify="required" placeholder="请输入活动名称" autocomplete="off" class="layui-input">-->
                <input type="date" id="date" class="activity-time" name="activitydate" />
                <input type="time" id="time" class="activity-time" name="activitytime" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动人数</label>
            <div class="layui-input-block">
                <input type="text" name="activitylimit" required  lay-verify="required" placeholder="请输入活动人数" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述信息</label>
            <div class="layui-input-block">
                <textarea name="des" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="submit" class="layui-btn" value="立即提交" />
            </div>
        </div>
    </form>
</div>

<div class="footer bottom"></div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/buy-bussiness.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
    // $("#date").datetimepicker();
</script>
</body>
</html>