<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>参加活动</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/attend-activity.css" />
    <link rel="stylesheet" href="css/common.css" />

    <style>
        .layui-form-label {
            padding-left: 0px;
            padding-right: 0px;
        }
    </style>
</head>
<body>

<div class="header"></div>

<div class="mbody" style="text-align: left;width: 60%;">

    <div class="bussinesses-container" id="activity_content">
        <!--<div class="activity-item">-->
            <!--<div class="activity-name">舟山开展"乐游乡村"活动</div>-->
            <!--<div class="create-time">2014-10-04</div>-->
        <!--</div>-->
    </div>

</div>


<div class="footer bottom"></div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/attend-activity.js"></script>
<script type="text/javascript" src="js/common.js"></script>

</body>
</html>