<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>土特产购买</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/buy-bussiness.css" />
    <link rel="stylesheet" href="css/common.css" />

    <link rel="canonical" href="http://www.dangdang.com/" />
    <link rel="Stylesheet" type="text/css" href="http://www.dangdang.com/Standard/Framework/Extend/hosts/css/model/homemin.css?20180511" />

    <style>
        .layui-form-label {
            padding-left: 0px;
            padding-right: 0px;
        }
    </style>
</head>
<body>

<div class="header"></div>

<div class="mbody" style="text-align: left;">

    <div class="bussinesses-container" id="bussinesses_content">
        <!--<div class="bussiness-item">-->
            <!--<img src="images/test.jpg" class="bussiness-image" />-->
            <!--<div class="bussiness-name" style="margin-top: 6px;margin-left: 18px;">梭子蟹</div>-->
            <!--<div class="bussiness-price" style="margin-left: 18px;"><span>￥</span><span class="bussiness-price-number">65.00</span></div>-->
        <!--</div>-->


    </div>

</div>


<div class="footer bottom"></div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/buy-bussiness.js"></script>
<script type="text/javascript" src="js/common.js"></script>

</body>
</html>