<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="Shortcut Icon" href="//uploads.dahe.cn/nxy/dahe2017/favicon.ico ">
    <link rel="stylesheet" href="//uploads.dahe.cn/lxx/mlxc/css/pintuer.css">
    <link rel="stylesheet" href="//uploads.dahe.cn/lxx/mlxc/css/css.css">
    <link rel="stylesheet" href="//uploads.dahe.cn/lxx/mlxc/css/zm-cg.css">
</head>
<body>
<div class="banner">
    <div class="container">
        <div class="line">
            <div class="x6">
                <!--<div class="logo"><a href="//mlxc.dahe.cn/"><img class="img-responsive" src="//uploads.dahe.cn/lxx/mlxc/img/logo.png"/></a></div>-->
            </div>
            <div class="x6">
                <div class="search">
                    <form method="post">
                        <div class="input-inline clearfix">
                            <input type="text" class="input" id="keyword" name="keyword" size="20" placeholder="请输入关键字" />
                            <input class="button" type="submit" value="搜索" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layout">
    <div class="menu">
        <div class="container">
            <ul id="meuu" class="list-inline">
                <li><a href="/xwzx/">新闻资讯</a></li>
                <li><a href="/mlxc/">美丽乡村</a></li>
                <li><a href="/zmcg/">名人名仕</a></li>
                <li><a href="/xcy/">活动参加</a></li>
                <li><a href="/ttc/">土特产购买</a></li>
            </ul>
        </div>
    </div>
</div>
<br />
</body>
</html>