<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/commodity-details.css" />
    <link rel="stylesheet" href="css/common.css" />
</head>
<body>
<div class="header"></div>

<div class="mbody" style="text-align: left;">
    <div class="img-left">
        <img id="img_commodity" width="420px" height="280px"/>
    </div>
    <div class="content-right">
        <div id="commodity_name" class="commodity-name"></div>
        <div class="commodity-price"><span style="font-size: 12px;">￥</span><span id="commodity_price"></span></div>
        <div id="commodity_des" class="commodity-des"></div>
        <div class="div-commodity-count">
            <button class="btn_num_admin" id="btn_sub">-</button>
            <input type="text" id="commodity_count" class="commodity-count" value="1" style="text-align: center;" />
            <button class="btn_num_admin" id="btn_add">+</button>
        </div>

        <div class="admin-buttons">
            <div class="layui-btn layui-btn-danger" id="btn_add_cart">加入购物车</div>
            <div class="layui-btn layui-btn-normal" id="buy">立即购买</div>
        </div>
    </div>

    <div class="clr" style="height: 200px;"></div>


    <div class="layui-card">
        <div class="layui-card-header">用户评论</div>
        <div class="layui-card-body">
            <div class="comment-content" id="comment_content">
                <!--<div class="comment-item">-->
                    <!--<div class="comment-user-name">我很帅</div>-->
                    <!--<div class="div-content">-->
                        <!--<div class="content-text">这真是一个好东西</div>-->
                        <!--<div class="content-img">-->
                            <!--<img src="123" />-->
                        <!--</div>-->
                        <!--<div class="content-time">2015-12-31</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>


    <div style="height: 36px;"></div>
</div>


<div class="footer bottom"></div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/commodity-details.js"></script>
<!--<script type="text/javascript" src="js/common-position.js"></script>-->

</body>
</html>