<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="Shortcut Icon" href="//uploads.dahe.cn/nxy/dahe2017/favicon.ico ">
    <link rel="stylesheet" href="//uploads.dahe.cn/lxx/mlxc/css/pintuer.css">
    <link rel="stylesheet" href="//uploads.dahe.cn/lxx/mlxc/css/css.css">
    <link rel="stylesheet" href="//uploads.dahe.cn/lxx/mlxc/css/zm-cg.css">
</head>
<body>
<div class="container">
    <div class="">
        <div class="main_title"><span class="xc_title"> 友情链接</span></div>
        <div class="line">
            <div class="x12">
                <ul class="list-unstyle list-inline">
                    <li><a href="http://www.dahe.cn">大河网 </a></li>
                    <li><a href="http://newpaper.dahe.cn/dhb">大河报 </a></li>
                    <li><a href="http://newpaper.dahe.cn/hnrbncb">河南日报农村版 </a></li>
                    <li><a href="https://www.henandaily.cn/">河南日报 </a></li>
                    <li><a href="http://www.henan.gov.cn/">河南省政府网 </a></li>


                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>