<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的活动</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/attend-activity.css" />
    <link rel="stylesheet" href="css/common.css" />

    <style>
        .layui-form-label {
            padding-left: 0px;
            padding-right: 0px;
        }
    </style>
</head>
<body>

<div class="header"></div>

<div class="mbody" id="activity_content" style="text-align: left;width: 60%;">

</div>

<div class="footer bottom"></div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/my-activity.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</body>
</html>