<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/buy-bussiness.css" />
    <link rel="stylesheet" href="css/personal-center.css" />
    <link rel="stylesheet" href="css/attend-activity.css" />
    <link rel="stylesheet" href="css/shopping-cart.css" />

    <style>
        .layui-form-label {
            padding-left: 0px;
            padding-right: 0px;
        }
        .showif_bussiness {
            display: none;
        }
        .btn-receipt {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="header"></div>

<div class="mbody">

    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">个人信息</li>
            <li>修改密码</li>
            <li id="buy_records">我的订单</li>
            <li class="showif_bussiness showif_user" style="display: none;">我的活动</li>
            <li id="user_admin" class="showif_admin" style="display: none;">用户管理</li>
            <li id="commodity_admin" class="showif_admin showif_bussiness" style="display: none;">商品管理</li>
            <li class="showif_bussiness" style="display: none;">添加商品</li>
            <li id="bussiness_order" class="showif_bussiness" style="display: none;">商品订单</li>
            <li id="shop_cart">购物车</li>
            <li id="attend_activity" class="showif_bussiness showif_user" style="display: none;">参加活动</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="">
                    <!--<div class="layui-form-item">-->
                        <!--<label class="layui-form-label">用户名</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<input id="user_name" type="text" name="title" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">电话号码</label>
                        <div class="layui-input-block">
                            <input id="phone_number" type="tel" name="title" required  lay-verify="required" placeholder="请输入电话号码" autocomplete="off" class="layui-input" maxlength="11">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">电子邮箱</label>
                        <div class="layui-input-block">
                            <input id="email" type="text" name="title" required  lay-verify="required" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <div id="btn_update_info" class="layui-btn layui-btn-lg layui-btn-normal">修改信息</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">原始密码</label>
                    <div class="layui-input-block">
                        <input id="opassword" type="password" name="title" required  lay-verify="required" placeholder="请输入原始密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-block">
                        <input id="npassword" type="password" name="title" required  lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input id="cpassword" type="password" name="title" required  lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <div id="btn_update_password" class="layui-btn layui-btn-lg layui-btn-normal">修改密码</div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="mbody" id="commodity_content" style="text-align: left;">

                </div>
            </div>
            <div class="layui-tab-item">
                <div class="mbody" id="activity_content" style="text-align: left;width: 60%;">

                </div>
            </div>
            <div class="layui-tab-item">
                <div class="mbody" id="user_admin_content" style="text-align: left;width: 60%;">

                </div>
            </div>
            <div class="layui-tab-item">
                <div class="mbody" id="commodity_admin_content" style="text-align: left;">

                </div>
            </div>
            <div class="layui-tab-item">
                <div class="mbody">
                    <form class="layui-form" method="post" action="/add-commodity" enctype="multipart/form-data">
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="bussinessname" required  lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">图片</label>
                            <div class="layui-input-block">
                                <input type="file" name="image" lay-verify="required" placeholder="请输入商品名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品价格</label>
                            <div class="layui-input-block">
                                <input type="text" name="bussinessprice" required  lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品总量</label>
                            <div class="layui-input-block">
                                <input type="text" name="bussinesscount" required  lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">描述信息</label>
                            <div class="layui-input-block">
                                <textarea name="des" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="submit" class="layui-btn" value="立即提交" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="mbody" style="text-align: left;width: 80%;" id="item_content">

                </div>
            </div>
            <!--<div class="layui-tab-item">内容5</div>-->
            <!--<div class="layui-tab-item">内容5</div>-->
            <!--<div class="layui-tab-item">内容5</div>-->
            <!--<div class="layui-tab-item">内容5</div>-->
            <!--<div class="layui-tab-item">内容5</div>-->
            <!--<div class="layui-tab-item">内容5</div>-->
        </div>
    </div>

</div>

<div class="footer bottom"></div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/buy-bussiness.js"></script>
<script type="text/javascript" src="js/personal-center.js"></script>
<script type="text/javascript" src="js/my-activity.js"></script>


<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>



</body>
</html>