<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <link rel="stylesheet" href="css/shopping-cart.css" />
    <link rel="stylesheet" href="css/common.css" />
</head>
<body>

<div class="header"></div>

<div class="mbody" style="text-align: left;width: 80%;" id="item_content">
    <!--<div class="shop-cart-item" commodity_id="10">-->
        <!--<div class="div-check">-->
            <!--<input type="checkbox" class="check-item" />-->
        <!--</div>-->
        <!--<div class="div-img">-->
            <!--<img class="cart-commodity-img" src="images/test.jpg" width="88px" height="80px" />-->
        <!--</div>-->
        <!--<div class="cart-commodity-name">梭子蟹</div>-->
        <!--<div class="cart-commodity-price"><span>￥</span>123.00</div>-->
        <!--<div class="cart-commodity-count">-->
            <!--<div class="position-count">-->
                <!--<input class="btn_num_admin btn_sub" type="button" value="-">-->
                <!--<input type="text" class="commodity-count" value="1" price="123.00" style="text-align: center;" />-->
                <!--<input class="btn_num_admin btn_add" type="button" value="+" />-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="cart-commodity-totalprice"><span>￥</span><span class="price-num">12487.00</span></div>-->
        <!--<div class="clr"></div>-->
    <!--</div>-->

</div>

<div class="statictis-bottom">
    <div class="cart-count">已选商品<span id="cart_count">0</span>件</div>
    <div class="cart-price">合计：<span id="cart_price">0</span></div>
    <div class="layui-btn layui-btn-normal btn-account" id="btn_account">结算</div>
</div>

<!--<div class="footer bottom"></div>-->

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="layui/layui.all.js"></script>
<script type="text/javascript" src="js/shopping-cart.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</body>
</html>